body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}
.container {
  display: flex;
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  background-color: rgb(217, 85, 80);
  justify-content: center;
}
.wrapper {
  height: 100%;
  display: flex;
  margin: 0 100px;
  width: 100%;
  max-width: 620px;
  flex-direction: column;
}
@media screen and (max-width: 425px) {
  .wrapper {
    margin: 0;
  }
}
